.Wishlist{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}
.imgli{
    width: 300px;
    img{
        width: 100%;
    }
}
button{
    font-size: 18px;
    border: none;
    background-color: transparent;
    width: 100px;
    height: 40px;
    &:hover{
        color: white;
        background-color: rgb(234,31,36);
        transition: 0.3s;
    }
}
    