.HeaderArea{
    .ImgHeader{
        position: relative;
        img{
            width: 100%;
        }
    }
    .Text{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
}