#Product{
    .ProductArea{
        
        .CardinArea{
display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
@media only screen and (max-width: 977px){
    #Product{
        .ProductArea{
            
            .CardinArea{
    display: grid;
            grid-template-columns: 1fr 1fr;
            }
        }
    }
}
@media only screen and (max-width: 625px){
    #Product{
        .ProductArea{
            
            .CardinArea{
    display: grid;
            grid-template-columns: 1fr ;
            }
        }
    }
}
